# train was used for testing
train

# others should generate this on their own
node_modules

# no need to upload the frame query list
fs/*

# configs for twitter api
config.ts

# don't expose the film 
spiderverse.mp4

# apple more like...
.DS_Store